#carouselExampleCaptions{
  width: 100%;
  height: 50%;
}

footer{
  background-color:#852880;
  margin-top: 20px;
}
#footerText{color:white;}

.carousel-item{
  width:100%;
  height:50%;
}
.card{
  margin:10px;
}
#mental,.jumbotron
{
  background-color:#852880;
  color:white;
}
.flagship{
  color: #c7ad48;
  font-size: 10em;
  text-align: center;
}
p.flagship{
  position: relative;
  left:200px;
}
#footerAnchor{
  color: #c7ad48;
  width:100%;
  text-align: center;
}
#footerAnchor:hover{
  color: #c7ad48;
  text-decoration:none;
  text-shadow: 2px 2px 2px black;
}
.footerText{margin-top: 20px;}
a.footerText{color:#c7ad48}
#card-button{
color:#852880;background-color:white;border:2px solid #852880; box-shadow: 2px 2px 3px purple; padding:10px 20px 10px 20px; border-radius:20px;
}
#card-button:hover{ padding:10px 25px 10px 25px; box-shadow:2px 2px 5px black; background-color:;border-color:#c7ad48; }

#jumbotron-button:hover{padding:10px 50px 10px 50px; box-shadow:2px 2px 5px black; background-color:#852880;border-color:white;}

#flag-button:hover{text-decoration: none; box-shadow:2px 2px 5px black;color:white; background-color:#852880;border-color:#852880; }

#ai-card-group, #card{
  border:2px solid #c7ad48;
  box-shadow: 1px 1px 5px black;
  min-height:650px;
}
#ai-card-groupTitle, #card-title,#grid-cardTitle{
  font-family: times;
  color: #852880;
  text-align:center;
}
#card-text,#grid-cardText{
  margin-top: 20px;
}
#cloud-card,#ai-card{margin:0px;border-radius: 0px;}
#cloud-card-img{
  max-height:500px;
}
#ai-card-groupTitle{
  font-size:2em;
  width:100%;
  /* border: 1px solid purple; */
}
#cloud-list{
  margin:100px;
}
#cloud-media{margin-bottom:100px;}
#cloud-mediaImg{
  margin-right:x; max-width:500px; max-height: 500px;
  border-radius: 40px; box-shadow: 1px 1px 20px #c7ad48;
}
#cloud-mediaText{margin-top:40px;width: }

#purchase-grid-card{
  margin: 5%;
}

#grid-card{
  border:2px solid #c7ad48;
  box-shadow: 1px 1px 5px #852880;
  border-radius:5px;

  min-height: 700px; max-width:400px;
}
#grid-cardImg{
  max-height: 400px; max-width:400px;
}
#form-container{
  /* margin: 10% 5% 5% 10%; */
  border:2px solid #c7ad48;
  min-width:;
  border-radius:20px;box-shadow:2px 2px 10px #852880;
  margin-top:50px; margin-bottom:50px;
}
