#first{
  border:10px solid white;
}
a.nav-link:hover{
  background-color: rgba(209, 59, 144, 0.5);
  border-radius: 5px;
}
#myCarousel{
  border-top:10px solid white;
  background-color:#d13b90 ;
  max-height:50%; max-width: 100%;
}
svg #marketing{
  max-height: 100%;
  align-content: flex-start;
  position: fixed;
  left:0;
}
p.myCarousel{
  max-width:100%;
}
#firstButton{
background-color: #f7bd0f ;
border:2px solid #f7bd0f ;
}
#firstB{
background-color: #f7bd0f ;
border:4px solid #f7bd0f ;
color:#d13b90
}
#thirdB{
  color: #d13b90;
  border:1px solid #d13b90;
}
#thirdB:hover{  background-color: rgba(209, 59, 144, 0.5); }
.mumu{
  color: #d13b90;
}
#gridHeaders
{color:#d13b90; }
#gridTexts{color: ;}
#gridButtons{
  color: #d13b90;
  background-color:white;
border: 1px solid #f7bd0f;
 }
 #about{color:#d13b90;}
 #mental{background-color:white; }
